00_notes

# Ignore all abaqus files from cluster and log files
*.rpy
*.rpy.*
*.inp
*.env
*.cae
*.jnl
*.log
*.com
*.dat
*inp
*.msg
*.odb
*.prt
*.sta

#Also exclude exception files and other abq waste

#*.exception
#*.SMABulk

# Ignore stuff in the _results folders except the txt files
*.fig
*.png
*.svg
*.avi

# This does not work somehow, but does not really matter
!_compare_allresults/*.svg
!_compare_allresults/*.png
!_compare_allresults/*.fig
